# Jarvis core dependencies
APScheduler
argparse
mock
pytz
PyYAML

# Pocketsphinx STT engine
cmuclmtk

# HN module
beautifulsoup4
semantic

# Birthday/Notifications modules
# facebook-sdk

# Weather/News/location modules
feedparser
cookies
# python-forecastio
responses
decorator
future
# geocoder
ratelim
# geographiclib
# geopy
# weather-api
# geojson
#pyown

# Gmail module
# python-dateutil

# MPDControl module
python-mpd

#requests
get
post
public
query-string
request
requests

#other required things
bs4
click
gtts
gtts-token
six

#Speech Recognition
SpeechRecognition

#TTS
pyttsx
pyttsx3

#Able to run on windows
# pywin32
# pypiwin32

# authentication
# voiceit2

# Maps
googlemaps
certifi
chardet
idna
urllib3
